CFIT_URL=http://localhost:8000
CFIT_DEVICE_IDENTIFIER=CID-RECEPCAO-01
CFIT_DEVICE_KEY=
CFIT_POLL_INTERVAL=5
CFIT_STATE_FILE=connector-state.json

CONTROL_ID_URL=http://192.168.0.129
CONTROL_ID_LOGIN=admin
CONTROL_ID_PASSWORD=
CONTROL_ID_ENTRY_DIRECTION=clockwise
CONTROL_ID_EXIT_DIRECTION=anticlockwise
